/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 5px;
    align-items: center;
}

h1{

    color: blue;
    font-family: Georgia, serif;
    text-align:center;
}
h2{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form{
    text-align: center;
    margin-top: 50px;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.details{
    /* text-align:center; */
    font-size: large;
}
.wrap{
    /* justify-content: center; */
    margin: 50px;
    align-items: center;
    min-height: 100vh;
    border-radius: 5px;
    width: 400px;
    background: skyblue;
  padding: 5px;
}
.form label {
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}
.form input {
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border: 2px solid teal;
    border-radius: 6px 6px 6px 6px;
}
.form area{
    border-radius: 6px 6px 6px 6px;
}
.index{
    margin: 30px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-circular{
    align-items: center;
    width: 150px;
    height: 150px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
   }

